
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Oswald', sans-serif;
}

//global hover
.g-hover{
 color: black
}

.g-hover:hover {
    color: #3ba27e
}

//NAV BAR LOGO SIZE
.navbar-item img {
    max-height: 3rem;
}

.nav-center{
flex-grow: 1; justify-content: center;
}

.navbar{
    position: fixed;
        /* Make it stick/fixed */
        top: -70px;
        /* Hide the navbar 50 px outside of the top view */
        width: 100%;
        /* Full width */
        transition: top 0.3s;
        /* Transition effect when sliding down (and up) */
}

a.navbar-item:hover{
color: #3ba27e
}

//HERO IMAGE
.hero{
    position: relative;
    overflow: hidden;
}

.hero-background {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
}

//About
.about-gap{
    gap: 11em;
}

// .about-section{
//     background-image: url(./components//images/logo1.jpg);
//     background-position: center;
//         background-size: cover;
        
// }

//Titles
.title-edit{
    color: #3ba27e;
}

//HERO CONTENT
.hero-title{
   font-size: 75px;
}


//HOMEPAGE

    

//CONTACT
.contact-container{
    height:100vh;
    padding-top: 120px;
    
}

.phn-sty{
    color: black !important;
}

.form-bg{
    background-color: rgb(59, 162, 126);
}

.hr{
    background-color: black;
}

//FORM LABELS
.contact-label {
    color: black;
    font-size: 1.2em;
}

//columns

.columns{
    align-items: center;

}

.column1{
    margin-left: 30px;
}

.column2{
    text-align: center;
    margin-right: 30px;
}

//card height level
.card-ht{
 height: 270px;

}

//buttons
.btn-sty{
background-color: #3ba27e;
border-color: rgb(0,0,0,0,)
}

//finance
.card-shadow{
    box-shadow: 0 0.5em 1em -0.125em rgba(59, 162, 126, 0.300),
        0 0 0 1px rgba(59, 162, 126, 0.300) !important;

        height: 765px;
}

.about-shadow{
    box-shadow: 0 0.5em 1em -0.125em rgba(59, 162, 126, 0.300),
            0 0 0 1px rgba(59, 162, 126, 0.300) !important;
}


//Modal
.modal-container{
    height:70vh;
}
.modal-dim{
    width: 50vw;
}

//calculator button padding can remove
button{
    margin-top: 30px;
}

//carousel

.img-size{
    width: 200px;
    margin-bottom: -30px;
}

.carousel-container{
    background: #3ba27e;
    display: flex;
    // flex-wrap: nowrap;
    overflow: hidden;
    width: 85%;
    border-radius: 16px;
    
}

.carousel-item{
    height: 20rem;
    min-width: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
    color: white;
}


.column-gap{
    gap: 20px;
}

//footer components
.footer-links-wrapper{
    margin-top: 60px;
}

hr{
    background-color:#3ba27e ;
}

//arrows
.arrow1{
    background-image: url(./components/images/arrow1.png);
    background-position: center;
}

.arrow2{
    background-image: url(./components/images/arrow2.png);
        background-position: center;
}