html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Oswald', sans-serif;
}

.g-hover {
  color: black;
}

.g-hover:hover {
  color: #3ba27e;
}

.navbar-item img {
  max-height: 3rem;
}

.navbar-item {
  color: #3ba27e;
}

.nav-center {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar-burger {
  color: #3ba27e;
}

.call-btn {
  background-color: #3ba27e;
  color: white;
  border-radius: 6px;
}

.nav-action-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar {
  position: fixed;
  background-color: #ffffff00;
  width: 100%;
  /* Full width */
  -webkit-transition: top 0.4s;
  transition: top 0.4s;
  /* Transition effect when sliding down (and up) */
  top: -5px;
  /* Hide the navbar 50 px outside of the top view */
}

#logo-grey {
  display: none;
}

div#navMenu.navbar-menu.is-active {
  min-height: 100vh;
  text-align: right;
  border-bottom: solid #3ba27e 1px;
}

.hero {
  position: relative;
  overflow: hidden;
}

.hero-background {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  width: 100%;
  height: 100%;
}

.about-gap {
  gap: 11em;
}

.title-edit {
  color: #3ba27e;
}

.hero-title {
  font-size: 75px;
}

.contact-container {
  height: 100vh;
  padding-top: 120px;
}

#linked-icon {
  margin-left: 4px;
}

.phn-sty {
  color: black !important;
}

.form-bg {
  background-color: #3ba27e;
}

.hr {
  background-color: black;
}

.contact-label {
  color: black;
  font-size: 1.2em;
}

.contact-t {
  margin-top: 40px;
}

.columns {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column1 {
  margin-left: 30px;
}

.column2 {
  text-align: center;
  margin-right: 30px;
}

.card-ht {
  height: 270px;
}

.btn-sty {
  background-color: #3ba27e;
  border-color: #00000000;
}

.card-shadow {
  -webkit-box-shadow: 0 0.5em 1em -0.125em rgba(59, 162, 126, 0.3), 0 0 0 1px rgba(59, 162, 126, 0.3) !important;
          box-shadow: 0 0.5em 1em -0.125em rgba(59, 162, 126, 0.3), 0 0 0 1px rgba(59, 162, 126, 0.3) !important;
  height: 850px;
}

.about-shadow {
  -webkit-box-shadow: 0 0.5em 1em -0.125em rgba(59, 162, 126, 0.3), 0 0 0 1px rgba(59, 162, 126, 0.3) !important;
          box-shadow: 0 0.5em 1em -0.125em rgba(59, 162, 126, 0.3), 0 0 0 1px rgba(59, 162, 126, 0.3) !important;
}

.modal-container {
  height: 70vh;
}

.modal-dim {
  width: 50vw;
}

button {
  margin-top: 30px;
}

.img-size {
  width: 200px;
  margin-bottom: -30px;
}

.carousel-container {
  background: #3ba27e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 85%;
  border-radius: 16px;
}

.carousel-item {
  height: 20rem;
  min-width: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
  color: white;
}

.column-gap {
  gap: 20px;
}

.footer-links-wrapper {
  margin-top: 60px;
}

hr {
  background-color: #3ba27e;
}

.footer-sty {
  font-size: 10px;
}

.arrow1 {
  background-image: url(./components/images/arrow1.png);
  background-position: center;
}

.arrow2 {
  background-image: url(./components/images/arrow2.png);
  background-position: center;
}

.m-btn {
  bottom: -37px;
  top: initial;
  position: fixed;
  width: 100%;
  -webkit-transition: bottom 0.3s;
  transition: bottom 0.3s;
}

.button-stick {
  width: 50% !important;
  text-align: center;
  background-color: #3ba27e;
  color: white;
  padding: 5px;
  border: solid white 2px;
}

.con-buttons {
  bottom: 50px;
  /* Hide the navbar 50 px outside of the top view */
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
  /* Transition effect when sliding down (and up) */
}

.quote-btn {
  color: white;
  background-color: #3ba27e;
  border: solid #3ba27e 3px;
  border-radius: 6px;
  margin: 2px;
  max-width: 106px;
}

@media (min-width: 769px) {
  .button-stick {
    visibility: hidden;
  }
  .arrow-m {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .arrow-d {
    display: none;
  }
  #test, #test2, #test3, #test4, #test5 {
    border-bottom: solid #3ba27e 1px;
  }
}
/*# sourceMappingURL=App.css.map */